/* AddQuestionForm.css */

.add-question-form {
    display: flex;
    flex-direction: column;
    
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    width: 700px; /* Adjust width as needed */
    margin-right: 100px;

}
  
.add-question-form h2 {
    margin-bottom: 20px;
    color: #343a40;
}
  
.add-question-form label {
    margin-bottom: 10px;
    color: #495057;
}
  
.add-question-form input[type="text"],
.add-question-form select {
    width: calc(100% - 20px); /* Adjust width as needed */
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
  
.add-question-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.add-question-form button[type="submit"]:hover {
    background-color: #0056b3;
}
  
.display-question-container {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Align items at the center horizontally */
    margin-top: 20px;
}
  
.add-question-form-container {
    width: 300px;
    margin-top: 100px;
    margin-bottom: 20px; /* Add margin at the bottom */
}
  
.displayed-questions-container {
    width: 300px; /* Take full width */
}
  
.question-card {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    width: 700px; /* Adjust width as needed */
    margin-left: auto;
    
}
  
.question-card h3 {
    color: #343a40;
}
  
.question-card ul {
    list-style: none;
    padding: 0;
}
  
.question-card li {
    margin-bottom: 5px;
    color: #495057;
}
  
.question-card p {
    margin-top: 10px;
    color: #6c757d;
}
